*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
font-family: Arial;
line-height: 1.6;
}

.main{
    max-width: 1120px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-height: 88px;
    margin: 0px 20px 0px 20px;
}

.nav-items{
    min-width: 40px;
    height: 40px;
}

.logo {
    margin-right: auto;
}

.service-container{
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    background-color: #F8F8F8;
    /* max-width: 320px; */
    min-height: 509px;
}

.service-title{
    display: flex;
    gap: 15px;
    margin: 20px 0px 20px;
    align-items: center;
    font-family: TT Lakes;
    font-weight: 700;
    color: #1B1C21;
    letter-spacing: -0.6px;
}

.laptop-label{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 100;
    margin: 0px 20px 0px 0px;
}

h1 {
    margin-right: auto;  
    font-size: 28px;
}

.service-content{
    display: flex;
    flex-direction: column;
    font-family: TT Lakes;
    font-weight: 100;
    font-size: 14px;
    max-width: 768px;
    gap: 15px;
}

.grid-box{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
}

.read-more{
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-shadow: 0.5px 0 0 currentColor;
    font-size: 16px;
}

.service-button{
    display: inline-flex;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-flow: row nowrap;
    overflow: auto;
    gap: 15px;
    white-space: nowrap;
    align-items: center;
    margin: 0px 0px 0px 15px;
}

.service-button > button{
    color: #7E7E82;
    font-size: 16px;
    font-family: TT Lakes;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: none;
    background-color: #F8F8F8;
}

.service-button > button:first-child{
    display: flex;
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 8px;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./ref/TTLakes-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./ref/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
    font-size: 28px;
    letter-spacing: -0.6px;
}

@media (max-width: 768px) {
    .service-container{
        min-width: 320px;

    }
    .grid-box{
        grid-template-columns: 1fr;
    }
    .mobile-hidden{
        display: none;
    }

    .laptop-label{
       display: none; 
    }

    .text-box{
        display: none;
    }
    .image{
        width: 320px;
    }
}

@media (min-width: 769px) and (max-width: 1120px){
    .grid-box{
        grid-template-columns: 1fr 1fr;
    }
    .laptop-label{
       display: none; 
    }
    .image{
        width: 360px;
    }
    .service-title{
        font-size: 28px;
    }
    .text-hidden{
        display: none;
    }
}

@media (min-width: 1120px){
    .nav-container{
        display: none; 
    }
    .grid-box{
        grid-template-columns: 1fr 1fr;
    }

    .image{
        width: 532px;
    }

    .service-button{
        flex-flow: row wrap;
        gap: 15px;
    }

    .service-title{
        font-size: 28px;
        margin: 40px 0px 20px 0px;
    }
}