.nav_container{
    display: flex;
    flex-direction: row;
    background-color: #eeececed;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    min-height: 88px;
}

.nav_items{
    min-width: 40px;
    height: 40px;
}

.main_container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #F8F8F8;
    justify-content: center;
    max-width: 320px;
    min-height: 509px;
}